// @ts-check
import { defineConfig } from "astro/config";
import starlight from "@astrojs/starlight";
import starlightContextualMenu from "./src/integrations/contextual-menu/index.js";
import githubAlerts from "./src/integrations/github-alerts/index.js";
import rehypeGithubEmoji from 'rehype-github-emoji';
import rehypeBasePath from "./src/plugins/rehype-base-path.js";

// https://astro.build/config
export default defineConfig({
{% if site_deploy_github_pages %}
  site: "https://{{ owner }}.github.io",
  base: "/{{ project_name }}",
{% else %}
  site: "https://{{ project_name }}.pages.dev",
{% endif %}
  prefetch: {
    defaultStrategy: 'viewport'
  },
  markdown: {
    rehypePlugins: [rehypeGithubEmoji, [rehypeBasePath, "/{{ project_name }}"]],
  },
  integrations: [
    starlight({
      title: "{{ project_name }}",
      social: [
        {
          icon: "document",
          label: "LLMs.txt",
          href: "/{{ project_name }}/llms.txt"
        },
        {
          icon: "github",
          label: "GitHub",
          href: "https://github.com/{{ owner }}/{{ project_name }}",
        },
      ],
      plugins: [
        starlightContextualMenu({ actions: ["copy", "view", "chatgpt", "claude"] }),
        githubAlerts(),
      ],
      sidebar: [
        {
          label: "Guides",
          autogenerate: { directory: "guides" },
        },
        {
          label: "Reference",
          autogenerate: { directory: "reference" },
        },
      ],
    }),
  ],
});
